
@{ ViewBag.Title = "Login";
    Layout = null; }
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>HR Health Check</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="~/Areas/Admin/assets/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/assets/css/animate.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/assets/css/style.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/assets/css/style-responsive.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/assets/css/theme/default.css" rel="stylesheet" id="theme" />
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/assets/css/style.css" rel="stylesheet" />
    <!-- ================== END BASE CSS STYLE ================== -->
    <!-- ================== BEGIN BASE JS ================== -->
    <script src="~/Areas/Admin/assets/plugins/pace/pace.min.js"></script>
    <!-- ================== END BASE JS ================== -->
</head>
<body class="pace-top bg-white">
    <!-- begin #page-loader -->
    <div id="page-loader" class="fade in"><span class="spinner"></span></div>
    <!-- end #page-loader -->
    <!-- begin #page-container -->
    <div id="page-container" class="fade">
        <!-- begin login -->
        <div class="login login-with-news-feed">
            <!-- begin news-feed -->
            <div class="news-feed">
                <div class="news-image">
                    <img src="~/Areas/Admin/assets/img/login-bg/bg-7.jpg" data-id="login-cover-image" alt="" />
                </div>
                <div class="news-caption">
                    <h4 class="caption-title"><i class="fa fa-diamond text-success"></i> Announcing HR Health Check app</h4>
                    <p>
                    </p>
                </div>
            </div>
            <!-- end news-feed -->
            <!-- begin right-content -->
            <div class="right-content">
                <!-- begin login-header -->
                <div class="login-header">
                    <div class="brand">
                        <span class="logo"></span> HR Health Check
                        <small></small>
                    </div>
                    <div class="icon">
                        <i class="fa fa-sign-in"></i>
                    </div>
                </div>
                <!-- end login-header -->
                <!-- begin login-content -->
                <div class="login-content">
                    <form id="loginFormId" method="POST" class="margin-bottom-0">
                        <div class="form-group m-b-15">
                            <input value="" id="txtEmail" name="UserName" type="text" class="form-control input-lg" placeholder="Email Address" />
                        </div>
                        <div class="form-group m-b-15">
                            <input value="" id="txtPassword" name="Password" type="password" class="form-control input-lg" placeholder="Password" />
                        </div>


                        <div class="login-buttons">
                            <button type="button" id="btnSave" class="btn btn-success btn-block btn-lg">Sign me in</button>
                            <br />
                        </div>
                        <hr />
                    </form>
                </div>
                <!-- end login-content -->
            </div>
            <!-- end right-container -->
        </div>
        <!-- end login -->
    </div>
    <!-- end page container -->
    <!-- ================== BEGIN BASE JS ================== -->
    <script src="~/Areas/Admin/assets/plugins/jquery/jquery-1.9.1.min.js"></script>
    <script src="~/Areas/Admin/assets/plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
    <script src="~/Areas/Admin/assets/plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
    <script src="~/Areas/Admin/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!--[if lt IE 9]>
        <script src="~/Areas/Admin/assets/crossbrowserjs/html5shiv.js"></script>
        <script src="~/Areas/Admin/assets/crossbrowserjs/respond.min.js"></script>
        <script src="~/Areas/Admin/assets/crossbrowserjs/excanvas.min.js"></script>
    <![endif]-->
    <script src="~/Areas/Admin/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/Areas/Admin/assets/plugins/jquery-cookie/jquery.cookie.js"></script>
    <!-- ================== END BASE JS ================== -->
    <!-- ================== BEGIN PAGE LEVEL JS ================== -->
    <script src="~/Areas/Admin/assets/js/apps.min.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <!-- ================== END PAGE LEVEL JS ================== -->
    <script>
        $(document).ready(function () {
            App.init();
        });
    </script>
</body>
</html>

<script>
    $("#btnSave").on("click", function () {
        var email = $("#txtEmail").val();
        var password = $("#txtPassword").val();
        $.ajax({
            url: "@Url.Action("Login", "Login", new { Area= "Admin"})",
            data: { "email": email, "password" : password},
            type: "POST",
            success: function (msg, msg2, msg3) {
                if (msg3.statusText == "CreateExpert")
                    window.location = '@Url.Action("Create", "ExpertsProfiles", new { Area = "Admin" })';
                else if (msg3.statusText == "IndexExpert")
                    window.location = '@Url.Action("Index", "ExpertsProfiles", new { Area = "Admin" })';
                else
                window.location = '@Url.Action("Index","Home", new { Area = "Admin"})';
            },
            error: function () {
                toastr.error("User Name or Password not correct")
            }
        });
    });
</script>

