@model DirectoryInfo[]
@{
    ViewBag.Title = "Index";
}
@{
    string plan = ViewBag.Plan;
}
<br />
<br />
@foreach (DirectoryInfo directoryInfo in Model)
{
    foreach (FileInfo file in directoryInfo.GetFiles())
    {
        <div class="col col-md-4">
            <h3><a href="@Url.Content(string.Format("~/Areas/plansData/{0}/{1}/{2}", plan, directoryInfo.Name , file.Name))" download>@file.Name</a></h3>
        </div>
    }
}
<br />
<br />
